In [61]:
import pandas as pd
data = pd.read_csv("data/Portfolios_Formed_on_ME_monthly_EW.csv", index_col = 0, parse_dates = True, na_values = -99.99)/100
data.head()

,<= 0,Lo 30,Med 40,Hi 30,Lo 20,Qnt 2,Qnt 3,Qnt 4,Hi 20,Lo 10,Dec 2,Dec 3,Dec 4,Dec 5,Dec 6,Dec 7,Dec 8,Dec 9,Hi 10
192607,NaN,-0.0043,0.0152,0.0268,-0.0057,0.0059,0.0160,0.0147,0.0333,-0.0145,0.0029,-0.0015,0.0133,0.0124,0.0198,0.0155,0.0138,0.0338,0.0329
192608,NaN,0.0390,0.0304,0.0209,0.0384,0.0359,0.0371,0.0161,0.0233,0.0512,0.0259,0.0403,0.0315,0.0272,0.0472,0.0160,0.0163,0.0098,0.0370
192609,NaN,-0.0108,-0.0054,0.0016,-0.0048,-0.0140,0.0000,-0.0050,-0.0009,0.0093,-0.0187,-0.0227,-0.0053,0.0007,-0.0007,-0.0164,0.0064,-0.0086,0.0067
192610,NaN,-0.0332,-0.0352,-0.0306,-0.0329,-0.0410,-0.0289,-0.0336,-0.0295,-0.0484,-0.0177,-0.0336,-0.0483,-0.0298,-0.0280,-0.0345,-0.0327,-0.0347,-0.0243
192611,NaN,-0.0046,0.0382,0.0309,-0.0055,0.0218,0.0341,0.0339,0.0316,-0.0078,-0.0032,-0.0029,0.0465,0.0324,0.0357,0.0382,0.0295,0.0361,0.0270

In [63]:
data.index = pd.to_datetime(data.index, format = "%Y%m").to_period("M")
data.head()

,<= 0,Lo 30,Med 40,Hi 30,Lo 20,Qnt 2,Qnt 3,Qnt 4,Hi 20,Lo 10,Dec 2,Dec 3,Dec 4,Dec 5,Dec 6,Dec 7,Dec 8,Dec 9,Hi 10
1926-07,NaN,-0.0043,0.0152,0.0268,-0.0057,0.0059,0.0160,0.0147,0.0333,-0.0145,0.0029,-0.0015,0.0133,0.0124,0.0198,0.0155,0.0138,0.0338,0.0329
1926-08,NaN,0.0390,0.0304,0.0209,0.0384,0.0359,0.0371,0.0161,0.0233,0.0512,0.0259,0.0403,0.0315,0.0272,0.0472,0.0160,0.0163,0.0098,0.0370
1926-09,NaN,-0.0108,-0.0054,0.0016,-0.0048,-0.0140,0.0000,-0.0050,-0.0009,0.0093,-0.0187,-0.0227,-0.0053,0.0007,-0.0007,-0.0164,0.0064,-0.0086,0.0067
1926-10,NaN,-0.0332,-0.0352,-0.0306,-0.0329,-0.0410,-0.0289,-0.0336,-0.0295,-0.0484,-0.0177,-0.0336,-0.0483,-0.0298,-0.0280,-0.0345,-0.0327,-0.0347,-0.0243
1926-11,NaN,-0.0046,0.0382,0.0309,-0.0055,0.0218,0.0341,0.0339,0.0316,-0.0078,-0.0032,-0.0029,0.0465,0.0324,0.0357,0.0382,0.0295,0.0361,0.0270

In [64]:
def annual_ret(data):
    num_month = data.shape[0]
    return (data + 1).prod() ** (12/num_month) -1

In [65]:
annual_ret(data[["Lo 20", "Hi 20"]])

Lo 20    0.151977
Hi 20    0.098490
dtype: float64

In [68]:
annual_ret(data["1999": "2015"][["Lo 20", "Hi 20"]])

Lo 20    0.114426
Hi 20    0.062865
dtype: float64

In [71]:
import numpy as np
def annual_vol(data):
    return data.std() * np.sqrt(12)

In [72]:
annual_vol(data[["Lo 20", "Hi 20"]])

Lo 20    0.336701
Hi 20    0.195116
dtype: float64

In [73]:
annual_vol(data["1999": "2015"][["Lo 20", "Hi 20"]])

Lo 20    0.228894
Hi 20    0.172713
dtype: float64

In [86]:
def drawdowns(data):
    wealth_index = 1000 * (data+1).cumprod()
    previous_peaks = wealth_index.cummax()
    drawdowns = (wealth_index - previous_peaks) / previous_peaks
    return drawdowns

In [87]:
drawdowns(data["1999": "2015"][["Lo 20"]]).min()

Lo 20   -0.624809
dtype: float64

In [88]:
drawdowns(data["1999": "2015"][["Lo 20"]]).idxmin()

Lo 20    2009-02
dtype: period[M]

In [89]:
drawdowns(data["1999": "2015"][["Hi 20"]]).min()

Hi 20   -0.552735
dtype: float64

In [90]:
drawdowns(data["1999": "2015"][["Hi 20"]]).idxmin()

Hi 20    2009-02
dtype: period[M]

In [94]:
data = pd.read_csv("data/edhec-hedgefundindices.csv", index_col = 0, parse_dates = True, na_values = -99.99)/100
data.head()

,Convertible Arbitrage,CTA Global,Distressed Securities,Emerging Markets,Equity Market Neutral,Event Driven,Fixed Income Arbitrage,Global Macro,Long/Short Equity,Merger Arbitrage,Relative Value,Short Selling,Funds Of Funds
date,,,,,,,,,,,,,
1997-01-31,0.0119,0.0393,0.0178,0.0791,0.0189,0.0213,0.0191,0.0573,0.0281,0.0150,0.0180,-0.0166,0.0317
1997-02-28,0.0123,0.0298,0.0122,0.0525,0.0101,0.0084,0.0122,0.0175,-0.0006,0.0034,0.0118,0.0426,0.0106
1997-03-31,0.0078,-0.0021,-0.0012,-0.0120,0.0016,-0.0023,0.0109,-0.0119,-0.0084,0.0060,0.0010,0.0778,-0.0077
1997-04-30,0.0086,-0.0170,0.0030,0.0119,0.0119,-0.0005,0.0130,0.0172,0.0084,-0.0001,0.0122,-0.0129,0.0009
1997-05-31,0.0156,-0.0015,0.0233,0.0315,0.0189,0.0346,0.0118,0.0108,0.0394,0.0197,0.0173,-0.0737,0.0275

In [95]:
def semideviation(data):
    return data[data < 0].std()

In [99]:
semideviation(data["2009":"2018"]).sort_values()

Fixed Income Arbitrage    0.003395
Merger Arbitrage          0.003669
Global Macro              0.005123
Equity Market Neutral     0.005275
Relative Value            0.005816
Convertible Arbitrage     0.006788
Funds Of Funds            0.008047
Distressed Securities     0.009626
Event Driven              0.010278
CTA Global                0.011089
Long/Short Equity         0.012297
Emerging Markets          0.015453
Short Selling             0.021383
dtype: float64

In [100]:
semideviation(data["2009":]).sort_values()

Fixed Income Arbitrage    0.003395
Merger Arbitrage          0.003669
Global Macro              0.005123
Equity Market Neutral     0.005275
Relative Value            0.005816
Convertible Arbitrage     0.006788
Funds Of Funds            0.008047
Distressed Securities     0.009626
Event Driven              0.010278
CTA Global                0.011089
Long/Short Equity         0.012297
Emerging Markets          0.015453
Short Selling             0.021383
dtype: float64

In [119]:
import scipy.stats as s
def skewness(dataframe):
    return dataframe.aggregate(s.skew, axis = 0)

In [120]:
skewness(data["2009":]).sort_values()

Equity Market Neutral    -0.896327
Funds Of Funds           -0.646908
Merger Arbitrage         -0.551065
Event Driven             -0.488821
Long/Short Equity        -0.463703
Distressed Securities    -0.254944
Emerging Markets          0.033123
CTA Global                0.052062
Relative Value            0.159953
Global Macro              0.348184
Short Selling             0.456518
Fixed Income Arbitrage    1.121453
Convertible Arbitrage     1.305911
dtype: float64

In [121]:
def kurtosis(dataframe):
    return dataframe.aggregate(s.kurtosis, axis = 0)

In [122]:
kurtosis(data["2000":]).sort_values()

CTA Global                -0.154978
Global Macro               0.653278
Short Selling              1.352758
Long/Short Equity          1.472589
Merger Arbitrage           1.520785
Event Driven               2.543444
Emerging Markets           2.941289
Distressed Securities      3.231720
Funds Of Funds             4.584725
Relative Value             9.731096
Equity Market Neutral     17.329621
Convertible Arbitrage     20.001449
Fixed Income Arbitrage    30.378729
dtype: float64